<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
            <staticContent>
                <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
                <remove fileExtension=".woff" />
                <remove fileExtension=".woff2" />
                <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
                <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            </staticContent>
        <rewrite>
           <rules>
 
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
           
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits
                    maxQueryString="8156"
                    maxAllowedContentLength="4000000000" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="1;mode=block" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <!-- <add name="Content-Security-Policy" value="script-src 'self'; style-src 'self'" /> -->
            </customHeaders>
        </httpProtocol>
   
    </system.webServer>
    <system.web>
        <httpCookies httpOnlyCookies="true"></httpCookies>
    </system.web>
</configuration>
